#containBlock{
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px rgb(87, 87, 87);
    border-radius: 11px;
    padding: 10px;
    font-size: 15px;
    flex-direction: row;
    max-width: 380px;
    display: flex;
    gap: 80px;
}

#nameBlock{
    display: flex;
    align-items: center;
    gap: 40px;
}

#buttonsBlock{
    display: flex;
    align-items: center;
    flex-direction: column;
}

