.containerAdicionar{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.settingsAdicionar{
    display: flex;
    gap: 120px;
}

#serchBlock{
    border: 1px solid rgb(80, 80, 80);
    border-radius: 20px;
    font-size: 12px;
    padding: 10px;
}

#serchBlock:focus{
    outline: none;
}