.containerAdicionar{
    border-radius: 21px;
    border: 1px solid #c9c9c9;
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    max-height: 450px;
    padding: 15px;
}

.settingsAdicionar{
    display: flex;
    align-items:center;
    padding: 10px;
    justify-content: center;
    gap: 8rem;
}

#containerRolagem{
    border-radius: 21px;
    max-width: 400px;
    min-width: 380px;
    height: 400px;
    overflow:auto;
}

#containerRolagem::-webkit-scrollbar{
    width: 0.3em; 
}

#containerRolagem::-webkit-scrollbar-thumb{
    background-color: rgb(99, 160, 212);
    border-radius: 21px;
}

#containerRolagem::-webkit-scrollbar-track{
    margin: 30px;
}

#containerSerch {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

#searchBlock {
    border: 1px solid #c9c9c9;
    border-radius: 0px 11px 11px 0px;
    color: #777777;
    width: 120px;
    padding: 5px;
}

#searchBlock:focus{
    outline: none;
}

#containerSearch button {
    background-color:rgb(25, 113, 189);
    border-radius: 11px 0px 0px 11px;
    border: 1px solid rgb(25,113,189);
    font-size: small;
    color: #fff;
    width: 30px;
    padding: 5px;
    outline: none;
}   
  
  .textp{
    user-select:none;
    margin-top: 100px;
    text-align: center;
    color: #777777;
  }

  #containerSearch{
    display: flex;
    }

  @media only screen and (max-device-width: 900px) {
    .containerAdicionar{
        border-radius: 21px;
        border: 1px solid #fff;
        padding: 0px;
        padding-bottom: 10px;
    }

    .settingsAdicionar{
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    #containerSearch button {
        background-color:rgb(25, 113, 189);
        border-radius: 11px 0px 0px 11px;
        border: 1px solid rgb(25,113,189);
        font-size: x-small;
        color: #fff;
        width: 25px;
        padding: 5px;
        outline: none;
    }
    .containerAdicionar{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 21px;
        border: 1px solid #c9c9c9;
        background-color: rgb(255, 255, 255);
        width: 100%;
        min-width: 200px;
        margin: 12px;
        max-width: 400px;
        max-height: 380px;
        padding:10px 5px 10px 5px ;
}

    #containerRolagem{
        border-radius: 0px;
        max-width: 400px;
        min-width: 210px;
        width: 100%;
        margin: 10px;
        height: 295px;
        overflow:auto;

    }
    
    
  }