.containerTime{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: 21px;
    border: 1px solid #c9c9c9;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 450px;
    padding: 20px;
    margin: 4px;
    gap: 10px;
    overflow: hidden;
}

.containerTime p{
    color: #797979;
}

.containerRecent{
    display: flex;
    width: 100%;
    max-width: 300px;
    height: 200px;
    background-color: #c9c9c9;
    border-radius: 21px;
}

.containerHist{
    display: flex;
    gap: 10px;
    max-width: 400px;
    min-width: 300px;
    height: 50px;
    overflow-x:scroll;
    background-color: #C9C9C9;
    border-radius: 21px;
}
