.containerNavInicial{
    display: flex;
    background-image: url('../assets/waves.png');
    background-size: cover;
}

@media only screen and (max-device-width: 900px) {
    .containerNavInicial{
        flex-direction: column;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: bottom;

    }
}