.Navbar-conatainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px 0px;
    max-height: 100vh;
    width: 100%;
    max-width: 60px;
    background-color: rgb(25, 113, 189)
}

.Navbar-conatainer a{
    color: rgb(255, 255, 255);
    
}

.Navbar-conatainer a:hover{

}

.Navbar-conatainer a:active{
    opacity: 0.70;
}

.Navbar-conatainer ul{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: x-large;
    gap: 30px;
}

@media only screen and (max-device-width: 900px) {

    .Navbar-conatainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        padding: 10px 20px 10px;
        max-height: 50px;
        width: 100%;
        max-width: 100vw;
        background-color: rgb(25, 113, 189)
    }

    .Navbar-conatainer ul {
        display: flex;
        flex-direction: row;
        color: rgb(255, 255, 255);
        font-size: large;
        gap: 30px;
    }

    .Navbar-conatainer a{
        
    }
    
    .Navbar-conatainer a:hover{
        
    }
}


