/* Estilos para o fundo escuro */
.overlayDetalhes {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 37, 39, 0.729);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Estilos para o formulário pop-up */
.overlayDetalhes .popupDetalhes {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width:600px;
    background-color: #fff ;
    padding: 40px;
    z-index: 2;
    border-radius: 21px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 20px;
}

#containerDetalhes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.infos{
    display: flex;
    flex-direction: column;
    color: #6e6e6e;
    font-size: small;
    gap: 2px;
}

@media only screen and (max-device-width: 900px) { 
    .popupDetalhes{
        margin: 10px;
    }
}