@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

#error-page{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/pinguim.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.box-error{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff1f;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    box-shadow: 1px 1px 5px rgb(87, 87, 87);
    border-radius: 11px;
    padding: 30px;
    gap: 25px;
}

.box-error h1{
    font-size: 3rem;
}

.box-error i{
    color: rgb(105, 105, 105);
}

.font-error{
    font-family: 'Lora', sans-serif;
}

.button-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3995f7; 
    width: 15s0px;
    color: #fff; 
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Lora', sans-serif;
  }
  
  .button-link:hover {
    background-color: #0369d6; 
  }